.primeiracoluna{
    display: flex;
    justify-content: space-around;
    
}
.segundacoluna{
    display: flex  ;
    justify-content: space-around;
}
.terceiracoluna{
    display: flex;
    justify-content: space-around;
}
.quartacoluna{
    display: flex;
    justify-content: space-around;
    margin-left: -150px;
}
.logos{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 200px;
}

.appstore{
    height: 50px;
    width: 150px;
    margin-left: 5px;
}

.row{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    color: white;
    line-height: 35px;
    text-align: left;
    margin-left: -120px;
    margin-right: -80px;
    ;
    
}
.Nubank{
    text-decoration: none ;
}

a{
    color: white;
    text-decoration: none;
    
}
a:hover{
    color: blueviolet;
    text-decoration: none;
}
@media screen and (max-width:800px) {
    .row{
        margin: 0px;

    }  
    .segundacoluna{
        margin-left: -35px;  ;
    
    }
    .quartacoluna{
        margin-left:-60px;
        gap: 80px;
    }
    .logo{
        margin-right:-100px;
        margin-top: -130px;
    }

}